# Azure OpenAI Configuration
AZURE_OPENAI_ENDPOINT=https://eastus.api.cognitive.microsoft.com/
AZURE_OPENAI_API_KEY=4b9f4c34843642b288c64f60b90d0b7a
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o

# Application Insights Configuration
APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=6f83cc04-ee2c-4eb5-a084-b405b3b23e44;IngestionEndpoint=https://eastus-8.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/;ApplicationId=9635f68d-9c24-4258-baaa-8dd520aa741e